#env
.env

# Build output
build
dist
dist-ssr

# Dependencies
node_modules

# Editor artifacts
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.local
.idea
.direnv
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*uploads

# Database
backend/database/uploads/*
!backend/database/uploads/default_avatar.png
*.db

# Logs
logs
*.log*

# File extesions
*.txt
*.pdf
*.bak
